﻿@model IntegrationInput

<form asp-controller="Integration" asp-action="InputProcess" method="post" class="form-group input-form" style="margin: 0 auto; max-width: 1000px">

    <div class="options">
        <div class="radio">
            <label><input type="radio" name="optradio" value="Trapezoidal" checked="checked">Trapezoidal Integration</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" value="SquareTrapezoidal">SquareTrapezoidal</label>
        </div>
    </div>
    <div>
        <img name="formula" src="~/img/formula-integration.PNG" />
        <input asp-for="IntervalsCount" type="text" class="form-control" placeholder="Intervals Count">
        <input asp-for="Accuracy" type="text" class="form-control" placeholder="Accuracy" value="0.000000001">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 10px" onclick="selectRoute()">Submit</button>
</form>

<script>
    function selectRoute() {
        var route = $('input[name="optradio"]:checked').val();
        $('form').attr("action", "/Integration/" + route);
    }
</script>

<style>
    .input-form textarea {
        max-height: 350px;
        height: 350px;
        max-width: 300px;
        float: left;
        margin-top: 10px;
        margin: 5px;
    }

    .input-form input {
        max-width: 300px;
        margin-top: 10px;
        margin: 5px;
    }

    .options {
        max-width: 200px;
    }
</style>