﻿<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
</head>

<body>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>


    <div class="page-header">
        <img src="~/img/logo.png" width="125" height="125" />
        <img src="~/img/logo-name.png" />
    </div>

    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Getting started</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">RGR Eigenvalues/Eigenvectors <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Power Method", "PowerMethod", "EigenValuesMethods")</li>
                            <li>@Html.ActionLink("Scalar Product Method", "ScalarProductMethod", "EigenValuesMethods")</li>
                            <li>@Html.ActionLink("Power Aitken Method", "PowerAitkenMethod", "EigenValuesMethods")</li>
                            <li><a href="#">Gauss–Seidel method</a></li>
                            <li><a href="#">Successive over-relaxation</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Interpolation", "Index", "Interpolation")</li>
                    <li>@Html.ActionLink("Numerical Integration", "Index", "Integration")</li>
                </ul>
            </nav>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
</body>
</html>
