﻿@model InterpolationInput
<form asp-controller="Interpolation" asp-action="InputProcess" method="post" class="form-group input-form" style="margin: 0 auto; max-width: 1000px">

    <div class="options">
        <div class="radio">
            <label><input type="radio" name="optradio" value="Lagrange" checked="checked" onchange="handleChange()">Lagrange Interpolation</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" value="NewtonMethod" onchange="handleChange()">Newton Interpolation Formula 1</label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optradio" value="Gauss" onchange="handleChange()">Gauss Interpolation Methods(Forward or back is defined on the given value)
            </label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" value="Stirling" onchange="handleChange()">Stirling</label>
        </div>
    </div>
    <div>
        <img name="formula" src="~/img/formula.PNG" />
        <textarea asp-for="xValues" type="text" class="form-control" placeholder="X Points"></textarea>
        <textarea asp-for="yValues" type="text" class="form-control" placeholder="Y Points"></textarea>
        <textarea asp-for="controlPoints" type="text" class="form-control" placeholder="Control Points"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 10px" onclick="selectRoute()">Submit</button>
</form>

<script>
    $(document).ready(function () {
        $('img[name=formula]').hide();
    });

    function handleChange() {
        var route = $('input[name="optradio"]:checked').val();
        if (route != "Lagrange") {
            $('textarea[name=yValues]').hide();
            $('textarea[name=xValues]').hide();
            $('img[name=formula]').show();
        }
        else {
            $('textarea[name=xValues]').show();
            $('textarea[name=yValues]').show();
            $('img[name=formula]').hide();
        }

    }

    function selectRoute() {
        var route = $('input[name="optradio"]:checked').val();
        $('form').attr("action", "/Interpolation/" + route);
    }
</script>

<style>
    .input-form textarea {
        max-height: 350px;
        height: 350px;
        max-width: 300px;
        float: left;
        margin-top: 10px;
        margin: 5px;
    }

    .input-form input {
        max-width: 300px;
        margin-top: 10px;
        margin: 5px;
    }

    .options {
        max-width: 200px;
    }
</style>