﻿@model InterpolationOutput

<div class="jumbotron">
    <h1>@ViewBag.methodName</h1>
    <p>
        @ViewBag.description
    </p>
</div>


<div>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }">
    </script>

    <script type="text/javascript">
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var jScriptArray = new Array(@ViewBag.xValues.Count);
            for (var i = 0; i < @ViewBag.xValues.Count; i++) {
                jScriptArray[i] = new Array(2);
            }

            @for (int i = 0; i < ViewBag.xValues.Count; i++)
            {
                <text>
            jScriptArray[@i][0] = "@ViewBag.xValues[@i]";
            jScriptArray[@i][1] = "@ViewBag.yValues[@i]";

            </text>
            }


            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('number', 'x');
            dataTable.addColumn('number', 'f(x)');

            for (var i = 0; i < @ViewBag.xValues.Count; i++) {
                var t = parseFloat(jScriptArray[i][0]);
                var d = parseFloat(jScriptArray[i][1]);
                dataTable.addRow([t, d]);
            }

            var options = {
                title: 'Function Plot',
                curveType: 'function',
                legend: { position: 'bottom' },
                series: {
                    0: { lineWidth: 2 },
                    1: { lineWidth: 2 }
                },
                colors: ['#e2431e', '#d3362d'],

                width: 1200, height: 600,
                vAxis: {
                    title: 'f(x)',
                    viewWindowMode: 'explicit',
                    gridlines: {
                        count: 20,
                    }

                },
                hAxis: {
                    title: 'x',
                    viewWindowMode: 'explicit',
                    gridlines: {
                        count: 100,
                    }
                }
            };
            var chart = new google.visualization.LineChart(document.getElementById('myPieChart2'));
            chart.draw(dataTable, options);
        }
    </script>

    <script type="text/javascript">
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var jScriptArray = new Array(@ViewBag.xNewton.Count);
            for (var i = 0; i < @ViewBag.xNewton.Count; i++) {
                jScriptArray[i] = new Array(2);
            }

            @for (int i = 0; i < ViewBag.xNewton.Count; i++)
            {
                <text>
            jScriptArray[@i][0] = "@ViewBag.xNewton[@i]";
            jScriptArray[@i][1] = "@ViewBag.yNewton[@i]";

            </text>
            }


            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('number', 'x');
            dataTable.addColumn('number', 'f(x)');

            for (var i = 0; i < @ViewBag.xNewton.Count; i++) {
                var t = parseFloat(jScriptArray[i][0]);
                var d = parseFloat(jScriptArray[i][1]);
                dataTable.addRow([t, d]);
            }

            var options = {
                title: 'Newton Polynom Plot',
                curveType: 'function',
                legend: { position: 'bottom' },
                series: {
                    0: { lineWidth: 2 },
                    1: { lineWidth: 2 }
                },
                colors: ['#d3362d', '#d3362d'],

                width: 1200, height: 600,
                vAxis: {
                    title: 'f(x)',
                    viewWindowMode: 'explicit',
                    gridlines: {
                        count: 20,
                    }

                },
                hAxis: {
                    title: 'x',
                    viewWindowMode: 'explicit',
                    gridlines: {
                        count: 100,
                    }
                }
            };
            var chart = new google.visualization.LineChart(document.getElementById('myPieChart'));
            chart.draw(dataTable, options);
        }
    </script>
</div>

<div id="myPieChart2"></div>
<div id="myPieChart"></div>


<h2>Results</h2>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>X Control</th>
            <th>Y</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.xKeys.Count; i++)
        {
            <tr>
                <td align="center">@i</td>
                <td align="center">
                    @Model.xKeys[@i]
                </td>
                <td align="center">
                    @Model.yValues[@i]
                </td>
            </tr>
        }
    </tbody>
</table>