﻿@model MatrixInput
<form asp-controller="EigenValuesMethods" asp-action=@ViewBag.Action method="post" class="form-group" style="margin: 0 auto; max-width: 300px">
    <input asp-for="Accuracy" id="accuracy" class="form-control" placeholder="Accuracy" style="max-width: 300px; margin-top: 10px" value="0.5">
    <textarea asp-for="MatrixString" type="text" class="form-control" placeholder="Matrix" style="height: 300px; max-height: 300px; max-width: 300px; float:left; margin-top: 10px"></textarea>
    <button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
</form>
<div id="spinner">
</div>
