﻿@model MethodResults

<div class="jumbotron">
    <h1>@ViewBag.methodName</h1>
    <p>
        @ViewBag.description
    </p>
</div>
<h2>Matrix</h2>
<table class="table table-hover table-bordered">
    <tbody>
         @for (int i = 0; i < Model.matrix.Count; i++)
            {
        <tr>
           

                @for (int j = 0; j < Model.matrix[i].Count; j++)
                {
                    <td align="center">
                        @Model.matrix[i][j]
                    </td>
                }
        </tr>
         }
    </tbody>
</table>

<h2>Steps</h2>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Iteration</th>
            <th>Vector Y</th>
            <th> Lambda</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.IterationsCount; i++)
            {
            <tr>
                <td align="center">@i</td>
                <td align="center">(
                    @foreach (double val in Model.stepVectorsY[i])
                    {
                        @val <tag>|</tag>
                    }
                )</td>
                <td align="center">@Model.lambdas[@i]</td>
            </tr>
        }
    </tbody>
</table>

<h2>Result Information</h2>
<strong>Excecution time:</strong> @Model.ExecutionTime<br />
<strong>Iterations count:</strong> @Model.IterationsCount<br />
<strong>Eigenvalue:</strong> @Model.PairsList[0].eigenValue;<br />
<strong>EigenVector:</strong>(@foreach (double val in Model.PairsList[0].eigenVector)
{
    @val <tag>|</tag>
})